.title {
  width: 100%;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.title h1 {
  display: inline;
  text-align: center;
  position: relative;
  font-size: calc(1.7vw + 1rem);
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: var(--text-color-1);
}
.title h1::after {
  content: "";
  background-color: var(--primary);
  width: 30%;
  height: 3px;
  position: absolute;
  left: 50%;
  top: calc(100% + 6px);
  transform: translate(-50%);
}
@media screen and (max-width: 250px) {
  .title h1 {
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 768px) {
  .title h1 {
    font-size: 2rem;
  }
}
