.hero {
  background-image: url("/public/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 90vh;
  height: auto;
  overflow: hidden;
}
.container {
  padding-top: 6rem;
  max-width: 100%;
}
.container .text h1 {
  color: var(--text-color-1);
  font-size: calc(1.3vw + 1.9rem);
  font-weight: 600;
}
.container .text p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary);
}
.container .text h1:first-child {
  color: var(--primary);
}
@media screen and (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .container .text h1 {
    font-size: 4rem;
  }
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
